#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(20, 20, 20);
}

/* .App {
    max-width: 800px !important;
    min-width: 350 !important;
    height: 800px !important;
    background: rgba(12,12, 12, 1);

} */
