/* #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(20, 20, 20);
}

.App {
    width: 400px !important;
    height: 800px !important;
    background: rgba(12,12, 12, 1);
} */